@import '../../options/styles/_variables';

// =========================================================================================================

@media (max-width:320px) and (min-width:200px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__line-01 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0;

            .block-02>ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;

                li {
                    padding: 10px 10px;

                    a {
                        text-decoration: none;
                        transition: color .4s ease;
                        font-size: 13px;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }

            .block-03,
            .block-04,
            .block-05 {
                text-align: center;
                margin: 10px 0;

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__line-02 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            .block-01 {
                width: 20%;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 10px;
                left: 5%;

                span {
                    font-size: 12px;
                }
            }

            .block-02 {
                width: 100%;
                margin: 20px 0;

                ul {
                    display: flex;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li {
                        border: 1px solid #bbb5b5;
                        width: 60px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                    }
                }
            }

            .block-03 {
                width: 30%;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0px;
                    width: 100%;

                    .face,
                    .inst {
                        width: 40px;
                        height: 40px;
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: $color-primary;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .block-04 {
                width: 30%;
                display: flex;
                justify-content: right;
                align-items: center;
                position: relative;
                margin-top: 20px;
                left: 35%;
                bottom: 10px;

                a {
                    text-align: right;
                    text-decoration: none;
                    padding-right: 10%;

                    &:hover {
                        .hov-color {
                            color: $color-primary;
                        }
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

// =========================================================================================================

@media (max-width:375px) and (min-width:321px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__line-01 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0;

            .block-02>ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;

                li {
                    padding: 10px 10px;

                    a {
                        text-decoration: none;
                        transition: color .4s ease;
                        font-size: 13px;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }

            .block-03,
            .block-04,
            .block-05 {
                text-align: center;
                margin: 10px 0;

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__line-02 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            .block-01 {
                width: 20%;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 10px;
                left: 5%;

                span {
                    font-size: 12px;
                }
            }

            .block-02 {
                width: 100%;
                margin: 20px 0;

                ul {
                    display: flex;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li {
                        border: 1px solid #bbb5b5;
                        width: 60px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                    }
                }
            }

            .block-03 {
                width: 30%;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0px;
                    width: 100%;

                    .face,
                    .inst {
                        width: 40px;
                        height: 40px;
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: $color-primary;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .block-04 {
                width: 30%;
                display: flex;
                justify-content: right;
                align-items: center;
                position: relative;
                margin-top: 20px;
                left: 35%;
                bottom: 10px;

                a {
                    text-align: right;
                    text-decoration: none;
                    padding-right: 10%;

                    &:hover {
                        .hov-color {
                            color: $color-primary;
                        }
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

// ===============================================================================================================

// ===============================================================================================================

@media (max-width:425px) and (min-width:376px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__line-01 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0;

            .block-02>ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;

                li {
                    padding: 10px 10px;

                    a {
                        text-decoration: none;
                        transition: color .4s ease;
                        font-size: 13px;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }

            .block-03,
            .block-04,
            .block-05 {
                text-align: center;
                margin: 10px 0;

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__line-02 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            .block-01 {
                width: 20%;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 10px;
                left: 5%;

                span {
                    font-size: 12px;
                }
            }

            .block-02 {
                width: 80%;
                margin: 20px 0;

                ul {
                    display: flex;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li {
                        border: 1px solid #bbb5b5;
                        width: 60px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                    }
                }
            }

            .block-03 {
                width: 30%;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0px;
                    width: 80%;

                    .face,
                    .inst {
                        width: 40px;
                        height: 40px;
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: $color-primary;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .block-04 {
                width: 30%;
                display: flex;
                justify-content: right;
                align-items: center;
                position: relative;
                margin-top: 20px;
                left: 35%;
                bottom: 10px;

                a {
                    text-align: right;
                    text-decoration: none;
                    padding-right: 10%;

                    &:hover {
                        .hov-color {
                            color: $color-primary;
                        }
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

// ================================================================================================================

@media (max-width:550px) and (min-width:426px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__line-01 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0;

            .block-02>ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;

                li {
                    padding: 10px 10px;

                    a {
                        text-decoration: none;
                        transition: color .4s ease;
                        font-size: 13px;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }

            .block-03,
            .block-04,
            .block-05 {
                text-align: center;
                margin: 10px 0;

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__line-02 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            .block-01 {
                width: 20%;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 10px;
                left: 5%;

                span {
                    font-size: 12px;
                }
            }

            .block-02 {
                width: 80%;
                margin: 20px 0;

                ul {
                    display: flex;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li {
                        border: 1px solid #bbb5b5;
                        width: 60px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                    }
                }
            }

            .block-03 {
                width: 30%;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0px;
                    width: 80%;

                    .face,
                    .inst {
                        width: 40px;
                        height: 40px;
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: $color-primary;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .block-04 {
                width: 30%;
                display: flex;
                justify-content: right;
                align-items: center;
                position: relative;
                margin-top: 20px;
                left: 35%;
                bottom: 10px;

                a {
                    text-align: right;
                    text-decoration: none;
                    padding-right: 10%;

                    &:hover {
                        .hov-color {
                            color: $color-primary;
                        }
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

// ================================================================================================================

@media (max-width:768px) and (min-width:551px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__line-01 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0;

            .block-01 {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .block-02 {
                width: 50%;

                >ul {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    list-style-type: none;

                    li {
                        padding: 10px 10px;

                        a {
                            text-decoration: none;
                            transition: color .4s ease;
                            font-size: 13px;

                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }

            .block-03,
            .block-04,
            .block-05 {
                text-align: center;
                margin: 20px 0;

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__line-02 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            .block-01 {
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 12px;
                }
            }

            .block-02 {
                width: 35%;
                margin: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;

                ul {
                    display: flex;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li {
                        border: 1px solid #bbb5b5;
                        width: 60px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        margin: 0 10px;
                    }
                }
            }

            .block-03 {
                width: 20%;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0px;

                    .face,
                    .inst {
                        width: 40px;
                        height: 40px;
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: $color-primary;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .block-04 {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-top: 20px;

                a {
                    text-align: right;
                    text-decoration: none;
                    padding-bottom: 20px;
                    span {
                        font-size: 15px;
                    }

                    &:hover {
                        .hov-color {
                            color: $color-primary;
                        }
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

// ================================================================================================================

@media (max-width:1024px) and (min-width:769px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__line-01 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0;

            .block-01 {
 
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .block-02{

                >ul {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    list-style-type: none;

                    li {
                        padding: 10px 10px;

                        a {
                            text-decoration: none;
                            transition: color .4s ease;
                            font-size: 13px;

                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }

            .block-03,
            .block-04,
            .block-05 {
                text-align: center;
                margin: 20px 0;

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__line-02 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            .block-01 {
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 12px;
                }
            }

            .block-02 {
                width: 35%;
                margin: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;

                ul {
                    display: flex;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li {
                        border: 1px solid #bbb5b5;
                        width: 60px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        margin: 0 10px;
                    }
                }
            }

            .block-03 {
                width: 20%;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0px;

                    .face,
                    .inst {
                        width: 40px;
                        height: 40px;
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: $color-primary;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .block-04 {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-top: 20px;

                a {
                    text-align: right;
                    text-decoration: none;
                    padding-bottom: 20px;
                    span {
                        font-size: 15px;
                    }

                    &:hover {
                        .hov-color {
                            color: $color-primary;
                        }
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

// ================================================================================================================

@media (max-width:1200px) and (min-width:1025px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__line-01 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0;

            .block-01 {
 
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .block-02{

                >ul {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    list-style-type: none;

                    li {
                        padding: 10px 10px;

                        a {
                            text-decoration: none;
                            transition: color .4s ease;
                            font-size: 13px;

                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }

            .block-03,
            .block-04,
            .block-05 {
                text-align: center;
                margin: 20px 0;

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__line-02 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            .block-01 {
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 12px;
                }
            }

            .block-02 {
                width: 35%;
                margin: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;

                ul {
                    display: flex;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li {
                        border: 1px solid #bbb5b5;
                        width: 60px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        margin: 0 10px;
                    }
                }
            }

            .block-03 {
                width: 20%;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0px;

                    .face,
                    .inst {
                        width: 40px;
                        height: 40px;
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: $color-primary;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .block-04 {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-top: 20px;

                a {
                    text-align: right;
                    text-decoration: none;
                    padding-bottom: 20px;
                    span {
                        font-size: 15px;
                    }

                    &:hover {
                        .hov-color {
                            color: $color-primary;
                        }
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

// ===============================================================================================================

@media (min-width:1201px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__line-01 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 30px 0;

            .block-01 {
 
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .block-02{

                >ul {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    list-style-type: none;

                    li {
                        padding: 10px 10px;

                        a {
                            text-decoration: none;
                            transition: color .4s ease;
                            font-size: 13px;

                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }

            .block-03,
            .block-04,
            .block-05 {
                text-align: center;
                margin: 20px 0;

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__line-02 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
            position: relative;

            .block-01 {
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 12px;
                }
            }

            .block-02 {
                width: 35%;
                margin: 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;

                ul {
                    display: flex;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li {
                        border: 1px solid #bbb5b5;
                        width: 60px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        margin: 0 10px;
                    }
                }
            }

            .block-03 {
                width: 20%;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0px;

                    .face,
                    .inst {
                        width: 40px;
                        height: 40px;
                        margin: 0 5px;
                        padding: 5px;
                        border-radius: 10px;
                        background-color: $color-primary;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .block-04 {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-top: 20px;

                a {
                    text-align: right;
                    text-decoration: none;
                    padding-bottom: 20px;
                    span {
                        font-size: 15px;
                    }

                    &:hover {
                        .hov-color {
                            color: $color-primary;
                        }
                    }

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}